.mat-toolbar{
  background: #446DFF 0% 0% no-repeat padding-box;
  height: 75px;
}

.header-container > span {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  opacity: 1;
}
