  <div style="display: flex;margin: 50px  220px 20px;font-family:'Poppins', sans-serif;font-size: 25px;"> CHOOSE TYPE </div>

  <div class="choose-type">
    <mat-card class="length-type" > 
      <img mat-card-lg-image src="../../../assets/images/scale(1).svg"  
        onmouseover="this.src='../../../assets/images/scale.svg'" 
        onmouseout="this.src='../../../assets/images/scale(1).svg'" > 
        <span class="choice-name">Length</span>
    </mat-card>
    <mat-card class="temperature-type"> 
      <img mat-card-lg-image src="../../../assets/images/hot (1).svg"  
        onmouseover="this.src='../../../assets/images/hot.svg'" 
        onmouseout="this.src='../../../assets/images/hot (1).svg'" >
        <span class="choice-name">Temperature</span>
    </mat-card>
    <mat-card class="volume-type" > 
      <img mat-card-lg-image src="../../../assets/images/beaker (1).svg"  
        onmouseover="this.src='../../../assets/images/beaker.svg'" 
        onmouseout="this.src='../../../assets/images/beaker (1).svg'" >
        <span class="choice-name">Temperature</span>
    </mat-card>
  </div>
