@mixin  hoverCard($background-color, $border-color,$box-shadow-color) {
  background: $background-color  ;
  border: $border-color solid 1px ;
  box-shadow: 0px 3px 6px  $box-shadow-color ;
  border-radius: 7px;
  opacity: 1;
  transition:  0.5s;
}

.main{
  width: 40%;
}

.container{
  padding: 3em;
}

.headline {
  font-family: 'Montserrat', sans-serif;
}
.choose-box{
  display: grid;
  .car {
    background: #FFFFFF ;
    height: 137px;
    letter-spacing: 0;
    color: #00000029;
  }
}


.car-length:hover {
  @include hoverCard(#EDFDF9,#0EC098,#00000029);
  img {
    content:url("../../../assets/images/scale.svg");
  }
  .text {
    color: #0ec098;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 600;
  }
}



.car-temp:hover {
  @include hoverCard(#FFEEF0,#FD5160,#00000029);
  img {
    content:url("../../../assets/images/hot.svg");
  }
  .text {
    color: #FD5160;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 600;
  }
}


.car-volume:hover {
  @include hoverCard(#E8DDFF,#446DFF,#00000029);
  img {
    content:url("../../../assets/images/beaker.svg");
  }
  .text {
    color: #7224FF;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 600;
  }
}

.car-volume-selected {
  @include hoverCard(#E8DDFF,#446DFF,#00000029);
  img {
    content:url("../../../assets/images/beaker.svg");
  }
  .text {
    color: #7224FF;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 600;
  }
}


.car-temp-selected {
  @include hoverCard(#FFEEF0,#FD5160,#00000029);
  img {
    content:url("../../../assets/images/hot.svg");
  }
  .text {
    color: #FD5160;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 600;
  }
}

.car-length-selected {
  @include hoverCard(#EDFDF9,#0EC098,#00000029);
  img {
    content:url("../../../assets/images/scale.svg");
  }
  .text {
    color: #0ec098;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 600;
  }
}
